<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.nangmanski_backend_spring.mapper.ResortMapper">
    <resultMap id="resortSlopeList" type="com.dev.nangmanski_backend_spring.vo.ResortVo">
        <id property="resortCode" column="resortCode"/>
        <result property="resortName" column="resortName"/>
        <result property="address" column="address"/>
        <result property="addressDepth" column="addressDepth"/>
        <result property="addressDtlDepth" column="addressDtlDepth"/>
        <result property="phoneNo" column="phoneNo"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="slopesImageUrl" column="slopesImageUrl"/>
        <result property="slopesWebcamUrl" column="slopesWebcamUrl"/>
        <result property="status" column="status"/>
        <result property="fetchStatus" column="fetchStatus"/>
        <result property="openSlopeNameListStr" column="openSlopeNameListStr"/>
        <collection property="slopeList" column="resortCode" javaType="ArrayList" ofType="com.dev.nangmanski_backend_spring.vo.SlopeVo" select="getSlopeInfo"/>
    </resultMap>

    <resultMap id="resortSlopeListOnly" type="com.dev.nangmanski_backend_spring.vo.ResortVo">
        <id property="resortCode" column="resort_code"/>
        <result property="resortName" column="resort_name"/>
        <result property="address" column="resort_address"/>
        <result property="phoneNo" column="resort_phone_no"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="status" column="status"/>
        <result property="fetchStatus" column="fetch_status"/>
        <result property="openSlopeNameListStr" column="openSlopeNameListStr"/>
        <collection property="slopeList" column="resort_code" javaType="ArrayList" ofType="com.dev.nangmanski_backend_spring.vo.SlopeVo" select="getSlopeInfo"/>
    </resultMap>

    <select id="getResortList" resultMap="resortSlopeList">
        /*mybatis.mapper.ResortMapper.getresortList*/
        SELECT
            sr.resort_code AS resortCode
            , resort_name AS resortName
            , resort_address AS address
            , (SELECT dtl_code_name FROM comm_dtl_cd WHERE grp_code=1 AND dtl_code=sr.area_code) AS addressDepth
            , (SELECT dtl_code_name FROM comm_dtl_cd WHERE grp_code=2 AND dtl_code=sr.area_dtl_code) AS addressDtlDepth
            , resort_phone_no AS phoneNo
            , start_time AS startTime
            , end_time AS endTime
            , slopes_image_url AS slopesImageUrl
            , slopes_webcam_url AS slopesWebcamUrl
            , sr.status
            , fetch_status AS fetchStatus
            , (
                SELECT GROUP_CONCAT(' ', slope_name)
                FROM ski_slope
                WHERE resort_code =  sr.resort_code and status = 'O'
                GROUP BY resort_code
            ) AS openSlopeNameListStr
        FROM ski_resort sr
    </select>

    <select id="getResortDetail"
            parameterType="java.util.Map"
            resultMap="resortSlopeList">
        /*mybatis.mapper.ResortMapper.getResortDetail*/
        SELECT
            resort_code
            , resort_name
            , resort_address
            , resort_phone_no
            , start_time
            , end_time
            , status
            , fetch_status
        FROM ski_resort
        WHERE resort_code = #{resortCode}
    </select>

    <select id="getSlopeInfo"
            parameterType="java.util.Map"
            resultType="com.dev.nangmanski_backend_spring.vo.SlopeVo">
        /*mybatis.mapper.ResortMapper.getSlopeInfo*/
        SELECT
            resort_code AS resortCode
            , slope_code AS slopeCode
            , slope_name AS slopeName
            , slope_level AS level
            , status
        FROM ski_slope
        WHERE resort_code = #{resortCode}
    </select>
</mapper>